Learning Pandas

Creating an empty dataframe

In [1]:
import pandas as pd

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

Creating a DataFrame from a List

In [1]:
import pandas as pd

lst = ['Geeks', 'For', 'Geeks', 'Hellp']
df = pd.DataFrame(lst)
print(df)

       0
0  Geeks
1    For
2  Geeks
3  Hellp

Creating DataFrame from dict of Numpy Array

In [3]:
import numpy as np
import pandas as pd

data = np.array([[1, 2, 3],[4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=["A", "B", "C"])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Creating a DataFrame from a List of Dictonaries

In [4]:
import pandas as pd

dict = {'name' : ["aparna", "pankaj", "sudhir", "Geeku"],
        'degree' : ["MBA", "BCA", "M.Tech", "MBA"],
        'score' : [90, 40, 80, 98]}

df = pd.DataFrame(dict)
print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

Creating a Pandas Series

In [5]:
import pandas as pd

data = [1, 2, 3, 4]
ser = pd.Series(data)
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

Assessing element of series

Position based indexing

In [6]:
import pandas as pd
import numpy as np

data = np.array(['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
print(ser)

0     g
1     e
2     e
3     k
4     s
5     f
6     o
7     r
8     g
9     e
10    e
11    k
12    s
dtype: object

Label based indexing

In [8]:
import pandas as pd
import numpy as np

data = np.array(['g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's'])
ser = pd.Series(data, index = [10,11,12,13,14,15,16,17,18,19,20,21,22])
print(ser[16], ser[11])

o e

Indexing and selecting data in series

Indexing a series using .loc[]

In [ ]:
import pandas as pd

df = pd.read_csv("nba.csv")
ser = pd.Series(df['Name'])
data = ser.head(10)
# print(data)

data.loc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object

In [15]:
data.iloc[3:6]

3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
Name: Name, dtype: object

Binary Operations on Pandas Series

In [16]:
import pandas as pd

ser1 = pd.Series([1, 2, 3], index = ['A', 'B', 'C'])
ser2 = pd.Series([4, 5, 6], index = ['A', 'B', 'C'])

df_sum = ser1.add(ser2)
print(df_sum)

A    5
B    7
C    9
dtype: int64

Conversion Operation on Series

In [17]:
import pandas as pd

ser = pd.Series([1, 2, 3, 4])
ser = ser.astype(float)
print(ser)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

pandas Series.cov() to find Covariance

In [ ]:
import pandas as pd

# list 1
a = [2, 3, 2.7, 3.2, 4.1]

# list 2
b = [10, 14, 12, 15, 20]

# Storing average of a
av_a = sum(a)/len(a)

# print(av_a)

# Storing average of b
av_b = sum(b)/len(b)

# making series from List a
a = pd.Series(a)

# making series from List b
b = pd.Series(b)

# Covariance  through  pandas method:
covar = a.cov(b)

# finding covariance manually
def covarfn(a, b, av_a, av_b):
    cov = 0

    for i in range(0, len(a)):
        cov += (a[i] - av_a) * (b[i] - av_b)
    return (cov / (len(a)-1))

# Calling function
cov = covarfn(a, b, av_a, av_b)

# Printing results
print("Results from pandas method :", covar)
print("Results from manual function method :", cov)

3.0
Results from pandas method : 2.849999999999999
Results from manual function method : 2.8499999999999996

Pandas Series Index Attribute

In [4]:
import pandas as pd

data = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# Accessing the index
print("Original Index:", data.index)


# Modify the Index
data.index = ['w', 'x', 'y', 'z']
print("Modifed Series:\n", data)

Original Index: Index(['a', 'b', 'c', 'd'], dtype='object')
Modifed Series:
 w    10
x    20
y    30
z    40
dtype: int64

Assigning Duplicate Index Labels

In [7]:
import pandas as pd

series = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon'])

# Creating  the row axix labels
series.index = ['city 1', 'city 2', 'city 3', 'city 4']
print(series)

city 1    New York
city 2     Chicago
city 3     Toronto
city 4      Lisbon
dtype: object

Retriving Index labels

In [10]:
import pandas as pd

Date = ['1/1/2018', '2/1/2018', '3/1/2018', '4/1/2018']
idx_name = ['Day 1', 'Day 2', 'Day 3', 'Day 4']

sr = pd.Series(data = Date, index = idx_name)
print(sr.index)

Index(['Day 1', 'Day 2', 'Day 3', 'Day 4'], dtype='object')

Resetting index to Default

In [11]:
import pandas as pd

Date = ['1/1/2018', '2/1/2018', '3/1/2018', '4/1/2018']
idx_name = ['Day 1', 'Day 2', 'Day 3', 'Day 4']

sr = pd.Series(data = Date,      # Series Data
               index = idx_name   #Index
)

# Resetting index to default
sr.reset_index(drop=True, inplace=True)
print(sr)

0    1/1/2018
1    2/1/2018
2    3/1/2018
3    4/1/2018
dtype: object

Create a Pandas series from Array

Creating a pandas series without an index

In [14]:
import pandas as pd
import numpy as np

data = np.array(['a', 'b', 'c', 'd', 'e'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

Creating a pandas Series with an custom index

In [15]:
import pandas as pd
import numpy as np

data = np.array(['a', 'b', 'c', 'd', 'e'])

s = pd.Series(data, index=[1000, 1001, 1002, 1003, 1004])
print(s)

1000    a
1001    b
1002    c
1003    d
1004    e
dtype: object

In [16]:
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}

df = pd.DataFrame(data)
print(df.index)

RangeIndex(start=0, stop=5, step=1)

Setting a custom index

In [17]:
# Set name column as the index

df_with_index = df.set_index('Name')
print(df_with_index)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

Accessing columns from DataFrame

In [18]:
# Access the 'Age' column
age_column = df['Age']
print(age_column)

0    25
1    30
2    22
3    35
4    28
Name: Age, dtype: int64

Accessing rows from the DataFrame

In [19]:
# Access the row at index 1 (second row)
second_row = df.iloc[1]
print(second_row)

Name       Alice
Age           30
Gender    Female
Salary     55000
Name: 1, dtype: object

Accessing multiple rows or columns

In [20]:
# Access the first threee rows and the 'Name' and 'Age' columns
subset = df.loc[0:2, ['Name', 'Age']]
print(subset)

    Name  Age
0   John   25
1  Alice   30
2    Bob   22